body {

  background: -webkit-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* W3C */
	
	}

.form_login {
	margin-left: 600px;
	margin-top: 160px;
	
}
input {
	height: 30px;
    font-size: 20px;
    width: 170px;
    padding-left: 5px;
    margin-bottom: 5px;
    opacity: 0.7;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}
input:last-child {
	margin-bottom: 0;
}

.check_remember_me{
	width: 20px;
	height: 20px;
}
form span{
	color: gray;
}

#errorUP{
	color: black;
	    font-family: 'Lato', sans-serif;
}