  body {

  background: -webkit-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:    -moz-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:     -ms-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:      -o-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:         linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 

	
}
.container{
	margin-top: 10%;
}
input{
	margin-bottom: 5px;
}