  body {

  background: -webkit-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:    -moz-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:     -ms-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:      -o-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 
  background:         linear-gradient(90deg, #F1F2B5 10%, #135058 90%); 

	
}
.op{
 	background-color: rgba(255, 255, 255, 0.3); 
    color: black;
}
tr:hover{
	background-color: rgba(255, 255, 255, 0.6); 
	color: black;
}

.ExpenseList{
 	border: 3px solid black;

	width: 800px;
	float: left;
	background-color: rgba(255, 255, 255, 0.3);
	font-family: 'Lato', sans-serif;


}
.ExpenseList div:HOVER{
	background-color: rgba(255, 255, 255, 0.7);
}

.MoneyExpenseList{
	border: 3px solid black;
	width: 300px;
	float: right;
		background-color: rgba(255, 255, 255, 0.3);
	font-family: 'Lato', sans-serif;
}

.ExpenseList span{
	
	display: inline-block;
	height: auto;
	vertical-align: top;
}

.ExpenseList span:FIRST-CHILD{
	display: inline-block;
  	width: 100px;
  	
}
.ExpenseList span:nth-child(2) {
	width: 65px;
}
.ExpenseList span:nth-child(3) {
	width: 65px;
}
.ExpenseList span:nth-child(4) {
	width: 90px;
}

.ExpenseList span:nth-child(5) {
	width: 450px;
}

.ExpenseList div{
	border-bottom: 1px solid black;
	font-size: 16px;
}
.ExpenseList div:FIRST-CHILD{
	border-bottom: 2px solid black;
	background-color: rgba(255, 255, 255, 0.7);
}
.ExpenseList div:last-child{
	border-bottom: none;
}

.MoneyExpenseList div{
	border-bottom: 1px solid black;
}
.MoneyExpenseList div:last-child{
	border-bottom: none;
}

.MoneyExpenseList span{
	display: inline-block;
}
.ListToPay span:FIRST-CHILD{
	width: 150px;
}

.sumToReturn{
	width: 60px;
	    height: 24px;
	    background-color: rgb(255, 255, 255);
    color: black;
}
.menu{
	margin-bottom: 15px;
}
.menu a{
	display: inline-block;
	text-decoration: none;
	margin-right: 5px;
	    font-family: 'Lato', sans-serif;
	    color: gray;

	    font-size: 22px;
	    border

}

.menu a:HOVER{
	color: black;
}


.menu a:last-child{
/* 	float: none; */

}
.MoneyReturn{
	height: 50px;
		margin: 5px;
}
.returnUser{
	height: 30px;
}
.btnrtrn{
	height: 30px;
}

